@{
    var name = Request["name"];
    if (string.IsNullOrEmpty(name))
    {
        name = "Robert Paulson";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Name</title>
</head>
<body>
    <div>
        <ul>
            @for (var i = 0; i < 10; i++)
            {
                <li>His name is @name</li>
            }
        </ul>
    </div>
</body>
</html>